ProjetUnity/Refugie/Library/CrashedAssetImports.txt
ProjetUnity/Refugie/Library/metadata/1a/1aa750d40ae1a6341be77bfc47e42a0d
*.info
ProjetUnity/Refugie/Library/metadata/95/9571ffbd1210e7c4188ecc16e57f2e80
ProjetUnity/Refugie/Library/metadata/f5/f5b873673838208409f61ad97312cac1
*.bin
ProjetUnity/Refugie/Library/metadata/f9/f946b2e19d7fdb946bc77942207200c0
*.bakert
ProjetUnity/Refugie/Library/shadercompiler-UnityShaderCompiler.exe0.log
*.meta
ProjetUnity/Refugie/Library/metadata/aa/aa37562b64780fa4b8351c4f1b99ca25
ProjetUnity/Refugie/Temp/UnityLockfile